#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.App {
  display: flex;
  flex-direction: column;
  gap: var(--spacing-smaller);
}

.row {
  display: flex;
  flex-wrap: wrap;
  gap: var(--spacing-smaller);
}

.box {
  padding: 32px;
  box-shadow: var(--spacing-smallest) var(--spacing-smallest) var(--black);
  padding: var(--spacing-small);
  border: 1px solid var(--black);
  box-shadow: 2px 2px var(--black);
  background-color: var(--purple);
  flex-grow: 1;
}

.button {
  position: relative;
  width: 100%;
  margin: var(--spacing-smallest) 0;
  padding: var(--spacing-smaller);
  border: 1px solid var(--black);
  font-size: 16px;
  font-family: Poppins, sans-serif;
  font-weight: 700;
  color: var(--black);
  box-shadow: 4px 4px var(--black);
  cursor: pointer;
  will-change: transform;
  transition: transform 0.25s;
  flex: 2 1;
  background-color: var(--green);
}

.button:hover {
  transform: translate(1px, 1px);
  box-shadow: 1px 1px var(--black);
}
